<div class="question-container">
  <div class="score-info">
    <p>{{ languageService.translate('question') }} {{ questionsAnswered + 1 }} {{ languageService.translate('of') }} 10</p>
  </div>

  <div class="question">
    <h2>
      {{ currentQuestion.num1 }} {{ currentQuestion.operation }} {{ currentQuestion.num2 }} = ?
    </h2>
    
    <div class="answer-input">
      <input 
        #answerInput
        type="number" 
        [(ngModel)]="userAnswer" 
        (keyup.enter)="checkAnswer()"
        (focus)="onInputFocus()"
        (blur)="onInputBlur()"
        [placeholder]="inputPlaceholder"
        [disabled]="(feedback !== '' && !isSecondAttempt) || wrongAttempts >= 2"
        autofocus>
      
      <button 
        (click)="checkAnswer()" 
        [disabled]="userAnswer === '' || (feedback !== '' && !isSecondAttempt) || wrongAttempts >= 2">
        {{ languageService.translate('submit') }}
      </button>
    </div>

    <div class="feedback" *ngIf="feedback">
      <p [class.correct]="feedback.includes(languageService.translate('correct'))" 
         [class.wrong]="feedback.includes(languageService.translate('wrong'))">
        <span class="feedback-icon">{{ feedback.includes(languageService.translate('correct')) ? '✅' : '❌' }}</span>
        {{ feedback }}
        <span *ngIf="wrongAttempts >= 2">{{ languageService.translate('correct-answer') }}: {{ correctAnswer }}</span>
      </p>
      <button 
        *ngIf="showOkButton || wrongAttempts >= 2"
        (click)="moveToNextQuestion()"
        class="ok-button">
        {{ languageService.translate('ok') }}
      </button>
    </div>
  </div>
</div>

<!-- <a routerLink="/result">See Result</a> -->