<div class="register-container">
  <h2>{{ languageService.translate('register') }}</h2>
  
  <form (ngSubmit)="register()" #registerForm="ngForm">
    <div class="form-group">
      <label for="username">{{ languageService.translate('username') }}</label>
      <input 
        type="text" 
        id="username"
        name="username"
        [(ngModel)]="username"
        required>
    </div>

    <div class="form-group">
      <label for="password">{{ languageService.translate('password') }}</label>
      <input 
        type="password" 
        id="password"
        name="password"
        [(ngModel)]="password"
        required>
    </div>

    <div class="error-message" *ngIf="error">
      {{ error }}
    </div>

    <button type="submit" [disabled]="!registerForm.form.valid">
      {{ languageService.translate('register') }}
    </button>

    <div class="login-link">
      <a routerLink="/login">{{ languageService.translate('have-account') }}</a>
    </div>
  </form>
</div> 